# Build output
/target/
!src/main/resources/static/target/

# IDE
.idea/
*.iml
.vscode/
*.swp
*~
.DS_Store

# Docker
env.local
.env

# Log files
*.log
logs/


# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/