services:
  app:
    build: .
    container_name: telescope_type_detail_service
    restart: unless-stopped
    ports:
      - "9005:9005"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - monitoring

networks:
  monitoring:
    external: true